<!-- <app-header></app-header> -->
<!-- <app-input-property [varOuObjetoExp]="title"></app-input-property>
<app-output-property valorInput="10" readonly (mudouValor)="exibeNovoValor($event)"></app-output-property>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-ng-content>
    <h1 class="titulo">Titulo Grande</h1>
    <h5 class="body">Texto</h5>
</app-ng-content> -->
<app-diretiva-customizada></app-diretiva-customizada>